*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

:root{
    --brand-color : #7B00FE;
}

body{
    background-color: black;
    color: white;
}

/*-------------------- header section --------------------*/

#header{
    width: 100%;
    height: 100vh;
    background-color: black;
}

.container{
    margin: 20px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#logo{
    width: 140px;
}

nav>ul>li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav>ul>li>a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav>ul>li>a::after{
    content: '';
    width: 0;
    height: 3px;
    background: var(--brand-color);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav>ul>li>a:hover:after{
    width: 100%;
}


#section-body>div>img{
    width: 518px;
    position: absolute;
    left: 61%;
    top: 128px;
    opacity: 75%;
}
#hello{
    position: absolute;
    top: 29%;
    font-size: 70px;
    font-family: cursive;
    -webkit-text-stroke: 2px var(--brand-color);
    color: black;
}

#name{
    position: absolute;
    top: 41%;
    font-family: serif;
    font-size: 68px;
}

#role{
    position: absolute;
    top: 53%;
    color: transparent;
    font-size: 51px;
    left: 10%;
    -webkit-text-stroke: 1px white;
}

#download{
    color: white;
    font-family: serif;
    text-decoration: none;
    background-color: var(--brand-color);
    padding: 12px 50px;
    position: absolute;
    top: 70%;
    left: 19%;
    border-radius: 39px;
    font-size: 22px;
}

nav .menu{
    display: none;
}

/*----------- laptop Large -----------*/

@media (max-width: 1441px) and (min-width: 1024px) {

    #logo{
        width: 140px;
    }

    nav>ul>li{
        display: inline-block;
        list-style: none;
        margin: 10px 20px;
    }

    nav>ul>li>a{
        color: white;
        text-decoration: none;
        font-size: 18px;
        position: relative;
    }

    nav>ul>li>a::after{
        content: '';
        width: 0;
        height: 3px;
        background: var(--brand-color);
        position: absolute;
        left: 0;
        bottom: -6px;
        transition: 0.5s;
    }

    nav>ul>li>a:hover:after{
        width: 100%;
    }


    #section-body>div>img{
        width: 527px;
        position: absolute;
        left: 55%;
        top: 16%;
        opacity: 75%;
    }
    #hello{
        position: absolute;
        top: 29%;
        font-size: 70px;
        font-family: cursive;
        -webkit-text-stroke: 2px var(--brand-color);
        color: black;
    }

    #name{
        position: absolute;
        top: 41%;
        font-family: serif;
        font-size: 68px;
    }

    #role{
        position: absolute;
        top: 53%;
        color: transparent;
        font-size: 51px;
        left: 10%;
        -webkit-text-stroke: 1px white;
    }

    #download{
        color: white;
        font-family: serif;
        text-decoration: none;
        background-color: var(--brand-color);
        padding: 12px 50px;
        position: absolute;
        top: 70%;
        left: 19%;
        border-radius: 39px;
        font-size: 22px;
    }

}


/*----------- laptop small -----------*/

@media (max-width: 1025px) and (min-width: 768px) {


    #logo{
        width: 135px;
    }

    nav>ul>li{
        display: inline-block;
        list-style: none;
        margin: 10px 9px;
    }

    nav>ul>li>a{
        color: white;
        text-decoration: none;
        font-size: 15px;
        position: relative;
    }


    nav>ul>li>a::after{
        content: '';
        width: 0;
        height: 3px;
        background: var(--brand-color);
        position: absolute;
        left: 0;
        bottom: -6px;
        transition: 0.5s;
    }

    nav>ul>li>a:hover:after{
        width: 100%;
    }


    #section-body>div>img{
        width: 51%;
        position: absolute;
        left: 44%;
        top: 14%;
        opacity: 75%;
    }
    #hello{
        position: absolute;
        top: 29%;
        font-size: 70px;
        font-family: cursive;
        -webkit-text-stroke: 2px var(--brand-color);
        color: black;
    }

    #name{
        position: absolute;
        top: 43%;
        font-family: serif;
        font-size: 68px;
    }

    #role{
        position: absolute;
        top: 56%;
        color: transparent;
        font-size: 51px;
        left: 10%;
        -webkit-text-stroke: 1px white;
    }

    #download{
        color: white;
        font-family: serif;
        text-decoration: none;
        background-color: var(--brand-color);
        padding: 12px 50px;
        position: absolute;
        top: 77%;
        left: 19%;
        border-radius: 39px;
        font-size: 22px;
    }
    
}

/*----------- Tablet -----------*/

@media (max-width: 768px) and (min-width: 425px){

    #logo{
        width: 135px;
    }

    nav>ul>li{
        display: inline-block;
        list-style: none;
        margin: 8px 9px;
    }

    nav>ul>li>a{
        color: white;
        text-decoration: none;
        font-size: 17px;
        position: relative;
    }


    nav>ul>li>a::after{
        content: '';
        width: 0;
        height: 3px;
        background: var(--brand-color);
        position: absolute;
        left: 0;
        bottom: -6px;
        transition: 0.5s;
    }

    nav>ul>li>a:hover:after{
        width: 100%;
    }


    #section-body>div>img{
        width: 58%;
        position: absolute;
        left: 36%;
        top: 11%;
        opacity: 75%;
    }
    #hello{
        position: absolute;
        top: 38%;
        font-size: 58px;
        font-family: cursive;
        -webkit-text-stroke: 2px var(--brand-color);
        color: black;
    }

    #name{
        position: absolute;
        top: 52%;
        font-family: serif;
        font-size: 57px;
    }

    #role{
        position: absolute;
        top: 66%;
        color: transparent;
        font-size: 40px;
        left: 12%;
        -webkit-text-stroke: 1px white;
    }

    #download{
        color: white;
        font-family: serif;
        text-decoration: none;
        background-color: var(--brand-color);
        padding: 12px 50px;
        position: absolute;
        top: 82%;
        left: 24%;
        border-radius: 39px;
        font-size: 19px;
    }

    nav .menu{
        display: block;
        font-size: 200%;
    }

    nav>ul{
        background-color: var(--brand-color);
        position: fixed;
        top: 0;
        right: -300px;
        width: 30%;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;

    }

    nav>ul>li{
        display: block;
        margin: 30% ;

    }

    nav>ul>li>a:hover{
        color: black;
    }

    nav>ul>i{
        position: absolute;
        top: 5%;
        left: 10%;
        cursor: pointer;
    }

}

/*----- Mobile Large -------*/

@media (max-width: 426px) and (min-width: 375px){

    #logo{
        width: 110px;
    }

    nav>ul>li{
        display: inline-block;
        list-style: none;
        margin: 8px 9px;
    }

    nav>ul>li>a{
        color: white;
        text-decoration: none;
        font-size: 15px;
        position: relative;
    }


    nav>ul>li>a::after{
        content: '';
        width: 0;
        height: 3px;
        background: var(--brand-color);
        position: absolute;
        left: 0;
        bottom: -6px;
        transition: 0.5s;
    }

    nav>ul>li>a:hover:after{
        width: 100%;
    }


    #section-body>div>img{
        width: 76%;
        position: absolute;
        left: 13%;
        top: 12%;
    }
    #hello{
        position: absolute;
        top: 52%;
        font-size: 53px;
        font-family: cursive;
        -webkit-text-stroke: 2px var(--brand-color);
        color: black;
    }

    #name{
        position: absolute;
        top: 65%;
        font-family: serif;
        font-size: 42px;
    }

    #role{
        position: absolute;
        top: 75%;
        color: transparent;
        font-size: 31px;
        left: 12%;
        -webkit-text-stroke: 1px white;
    }

    #download{
        color: white;
        font-family: serif;
        text-decoration: none;
        background-color: var(--brand-color);
        padding: 12px 50px;
        position: absolute;
        top: 85%;
        left: 26%;
        border-radius: 39px;
        font-size: 14px;
    }

    nav .menu{
        display: block;
        font-size: 150%;
    }

    nav>ul{
        background-color: var(--brand-color);
        position: fixed;
        top: 0;
        right: -300px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;

    }

    nav>ul>li{
        display: block;
        margin: 30% ;

    }

    nav>ul>li>a:hover{
        color: black;
    }

    nav>ul>i{
        position: absolute;
        top: 5%;
        left: 10%;
        cursor: pointer;
    }

}

/*----- Mobile Medium -------*/

@media (max-width: 376px) and (min-width: 325px){

    #logo{
        width: 110px;
    }

    nav>ul>li{
        display: inline-block;
        list-style: none;
        margin: 8px 9px;
    }

    nav>ul>li>a{
        color: white;
        text-decoration: none;
        font-size: 15px;
        position: relative;
    }


    nav>ul>li>a::after{
        content: '';
        width: 0;
        height: 3px;
        background: var(--brand-color);
        position: absolute;
        left: 0;
        bottom: -6px;
        transition: 0.5s;
    }

    nav>ul>li>a:hover:after{
        width: 100%;
    }


    #section-body>div>img{
        width: 86%;
        position: absolute;
        left: 8%;
        top: 15%;
    }
    #hello{
        position: absolute;
        top: 55%;
        font-size: 47px;
        font-family: cursive;
        -webkit-text-stroke: 2px var(--brand-color);
        color: black;
    }

    #name{
        position: absolute;
        top: 66%;
        font-family: serif;
        font-size: 37px;
    }

    #role{
        position: absolute;
        top: 75%;
        color: transparent;
        font-size: 26px;
        left: 12%;
        -webkit-text-stroke: 1px white;
    }

    #download{
        color: white;
        font-family: serif;
        text-decoration: none;
        background-color: var(--brand-color);
        padding: 12px 50px;
        position: absolute;
        top: 85%;
        left: 26%;
        border-radius: 39px;
        font-size: 13px;;
    }

    nav .menu{
        display: block;
        font-size: 150%;
    }

    nav>ul{
        background-color: var(--brand-color);
        position: fixed;
        top: 0;
        right: -300px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;

    }

    nav>ul>li{
        display: block;
        margin: 30% ;

    }

    nav>ul>li>a:hover{
        color: black;
    }

    nav>ul>i{
        position: absolute;
        top: 5%;
        left: 10%;
        cursor: pointer;
    }

}

/*----- Mobile Small -------*/

@media (max-width: 321px){

    #logo{
        width: 110px;
    }

    nav>ul>li{
        display: inline-block;
        list-style: none;
        margin: 8px 9px;
    }

    nav>ul>li>a{
        color: white;
        text-decoration: none;
        font-size: 12px;
        position: relative;
    }


    nav>ul>li>a::after{
        content: '';
        width: 0;
        height: 3px;
        background: var(--brand-color);
        position: absolute;
        left: 0;
        bottom: -6px;
        transition: 0.5s;
    }

    nav>ul>li>a:hover:after{
        width: 100%;
    }


    #section-body>div>img{
        width: 88%;
        position: absolute;
        left: 6%;
        top: 16%;
    }
    #hello{
        position: absolute;
        top: 54%;
        font-size: 43px;
        font-family: cursive;
        -webkit-text-stroke: 2px var(--brand-color);
        color: black;
    }

    #name{
        position: absolute;
        top: 66%;
        font-family: serif;
        font-size: 32px;
    }

    #role{
        position: absolute;
        top: 75%;
        color: transparent;
        font-size: 22px;
        left: 12%;
        -webkit-text-stroke: 1px white;
    }

    #download{
        color: white;
        font-family: serif;
        text-decoration: none;
        background-color: var(--brand-color);
        padding: 12px 50px;
        position: absolute;
        top: 84%;
        left: 24%;
        border-radius: 39px;
        font-size: 12px;
    }

    nav .menu{
        display: block;
        font-size: 150%;
    }

    nav>ul{
        background-color: var(--brand-color);
        position: fixed;
        top: 0;
        right: -300px;
        width: 150px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;

    }

    nav>ul>li{
        display: block;
        margin: 30% ;

    }

    nav>ul>li>a:hover{
        color: black;
    }

    nav>ul>i{
        position: absolute;
        top: 5%;
        left: 10%;
        cursor: pointer;
    }

}


/*-------------------- header section --------------------*/

#about{
    width: 100%;
    height: 100vh;
    background-color: black;
    position: relative;
}

.container>div>img{
    width: 420px;
    margin-top: 5%;
    border-radius: 5%;
}

#title{
    position: absolute;
    top: 6%;
    left: 44%;
    font-size: 70px;
    font-family: serif;

}

#title>span{
    color: transparent;
    -webkit-text-stroke: 2px var(--brand-color);
    font-family: serif;

}

#intro{
    position: absolute;
    top: 18%;
    left: 674px;
    font-size: 25px;
    font-family: cursive;
    color: white;
    opacity: 60%;
}

#para{
    position: absolute;
    width: 735px;
    top: 30%;
    right: 7%;
    font-size: 162%;
    font-family: serif;
    line-height: 34px;
}

.descTitle{
    color: var(--brand-color);
    font-family: Serif;
}

#desc{
    position: absolute;
    width: fit-content;
    height: fit-content;
    top: 57%;
    left: 44%;
}

.descBody{
    margin: 20px;
    font-size: 24px;
    font-family: serif;
}

#contact{
    width: 100%;
    text-decoration: none;
    color: white;
    background-color: var(--brand-color);
    padding: 10px 42px;
    border-radius: 35px;
}

#contactButton{
    position: absolute;
    top: 86%;
    left: 45%;
}


/*------------- laptop large -----------------*/

@media (max-width: 1441px) and (min-width: 1024px) {

    .container>div>img{
        width: 420px;
        margin-top: 5%;
        border-radius: 5%;
    }

    #title{
        position: absolute;
        top: 6%;
        left: 44%;
        font-size: 70px;
        font-family: serif;

    }

    #title>span{
        color: transparent;
        -webkit-text-stroke: 2px var(--brand-color);
        font-family: serif;

    }

    #intro{
        position: absolute;
        top: 18%;
        left: 638px;
        font-size: 25px;
        font-family: cursive;
        color: white;
        opacity: 60%;
    }

    #para{
        position: absolute;
        width: 735px;
        top: 30%;
        right: 5%;
        font-size: 157%;
        font-family: serif;
        line-height: 34px;
    }

    .descTitle{
        color: var(--brand-color);
        font-family: Serif;
    }

    #desc{
        position: absolute;
        width: fit-content;
        height: fit-content;
        top: 57%;
        left: 43%;
    }

    .descBody{
        margin: 20px;
        font-size: 24px;
        font-family: serif;
    }

    #contact{
        width: 100%;
        text-decoration: none;
        color: white;
        background-color: var(--brand-color);
        padding: 10px 42px;
        border-radius: 35px;
        font-size: 16px;
    }

    #contactButton{
        position: absolute;
        top: 84%;
        left: 45%;
    }

}

/*----------- laptop small -----------*/

@media (max-width: 1025px) and (min-width: 768px) {

    .container>div>img{
        width: 365px;
        margin-top: 5%;
        border-radius: 5%;
    }

    #title{
        position: absolute;
        top: 6%;
        left: 51%;
        font-size: 51px;
        font-family: serif;

    }

    #title>span{
        color: transparent;
        -webkit-text-stroke: 2px var(--brand-color);
        font-family: serif;

    }

    #intro{
        position: absolute;
        top: 17%;
        left: 524px;
        font-size: 21px;
        font-family: cursive;
        color: white;
        opacity: 60%;
    }

    #para{
        position: absolute;
        width: 483px;
        top: 26%;
        right: 2%;
        font-size: 120%;
        font-family: serif;
        line-height: 33px;
    }

    .descTitle{
        color: var(--brand-color);
        font-family: Serif;
    }

    #desc{
        position: absolute;
        width: fit-content;
        height: fit-content;
        top: 60%;
        left: 49%;
    }

    .descBody{
        margin: 20px;
        font-size: 17px;
        font-family: serif;
    }

    #contact{
        width: 100%;
        text-decoration: none;
        color: white;
        background-color: var(--brand-color);
        padding: 10px 42px;
        border-radius: 35px;
        font-size: 13px;
    }

    #contactButton{
        position: absolute;
        top: 86%;
        left: 51%;
    }

}


/*--------------- Tablet -------------*/

@media (max-width: 768px) and (min-width: 425px){

    .container>div>img{
        display: none;
    }

    #title{
        position: absolute;
        top: 5%;
        left: 31%;
        font-size: 61px;
        font-family: serif;

    }

    #title>span{
        color: transparent;
        -webkit-text-stroke: 2px var(--brand-color);
        font-family: serif;

    }

    #intro{
        position: absolute;
        top: 17%;
        left: 175px;
        font-size: 24px;
        font-family: cursive;
        color: white;
        opacity: 60%;
    }

    #para{
        position: absolute;
        width: 606px;
        top: 29%;
        right: 8%;
        font-size: 128%;
        font-family: serif;
        line-height: 34px;
    }

    .descTitle{
        color: var(--brand-color);
        font-family: Serif;
    }

    #desc{
        position: absolute;
        width: fit-content;
        height: fit-content;
        top: 59%;
        left: 11%;
    }

    .descBody{
        margin: 20px;
        font-size: 19px;
        font-family: serif;
    }

    #contact{
        width: 100%;
        text-decoration: none;
        color: white;
        background-color: var(--brand-color);
        padding: 10px 42px;
        border-radius: 35px;
        font-size: 15px;
    }

    #contactButton{
        position: absolute;
        top: 87%;
        left: 57%;
    }
}


/*----- Mobile Large -------*/

@media (max-width: 426px) and (min-width: 375px){

    .container>div>img{
        display: none;
    }

    #title{
        position: absolute;
        top: 4%;
        left: 25%;
        font-size: 48px;
        font-family: serif;
    }

    #title>span{
        color: transparent;
        -webkit-text-stroke: 2px var(--brand-color);
        font-family: serif;

    }

    #intro{
        position: absolute;
        top: 14%;
        left: 50px;
        font-size: 19px;
        font-family: cursive;
        color: white;
        opacity: 60%;
    }

    #para{
        position: absolute;
        width: 345px;
        top: 25%;
        right: 8%;
        font-size: 102%;
        font-family: serif;
        line-height: 34px;
    }

    .descTitle{
        color: var(--brand-color);
        font-family: Serif;
    }

    #desc{
        position: absolute;
        width: fit-content;
        height: fit-content;
        top: 65%;
        left: 7%;
    }

    .descBody{
        margin: 19px;
        font-size: 14px;
        font-family: serif;
    }

    #contact{
        width: 100%;
        text-decoration: none;
        color: white;
        background-color: var(--brand-color);
        padding: 10px 42px;
        border-radius: 35px;
        font-size: 12px;
    }

    #contactButton{
        position: absolute;
        top: 88%;
        left: 51%;
    }

}


/*----- Mobile Medium -------*/

@media (max-width: 376px) and (min-width: 325px){

    .container>div>img{
        display: none;
    }

    #title{
        position: absolute;
        top: 4%;
        left: 23%;
        font-size: 46px;
        font-family: serif;

    }

    #title>span{
        color: transparent;
        -webkit-text-stroke: 2px var(--brand-color);
        font-family: serif;

    }

    #intro{
        position: absolute;
        top: 14%;
        left: 39px;
        font-size: 17px;
        font-family: cursive;
        color: white;
        opacity: 60%;
    }

    #para{
        position: absolute;
        width: 314px;
        top: 24%;
        right: 7%;
        font-size: 93%;
        font-family: serif;
        line-height: 34px;
    }

    .descTitle{
        color: var(--brand-color);
        font-family: Serif;
    }

    #desc{
        position: absolute;
        width: fit-content;
        height: fit-content;
        top: 65%;
        left: 5%;
    }

    .descBody{
        margin: 20px;
        font-size: 13px;
        font-family: serif;
    }

    #contact{
        width: 100%;
        text-decoration: none;
        color: white;
        background-color: var(--brand-color);
        padding: 10px 42px;
        border-radius: 35px;
        font-size: 11px;
    }

    #contactButton{
        position: absolute;
        top: 87%;
        left: 53%;
    }

}

/*----- Mobile Small -------*/

@media (max-width: 321px){
    .container>div>img{
        display: none;
    }

    #title{
        position: absolute;
        top: 3%;
        left: 23%;
        font-size: 41px;
        font-family: serif;

    }

    #title>span{
        color: transparent;
        -webkit-text-stroke: 2px var(--brand-color);
        font-family: serif;

    }

    #intro{
        position: absolute;
        top: 12%;
        left: 30px;
        font-size: 15px;
        font-family: cursive;
        color: white;
        opacity: 60%;
    }

    #para{
        position: absolute;
        width: 259px;
        top: 20%;
        right: 9%;
        font-size: 94%;
        font-family: serif;
        line-height: 34px;
    }

    .descTitle{
        color: var(--brand-color);
        font-family: Serif;
    }

    #desc{
        position: absolute;
        width: fit-content;
        height: fit-content;
        top: 69%;
        left: 5%;
    }

    .descBody{
        margin: 20px;
        font-size: 13px;
        font-family: serif;
    }

    #contact{
        width: 100%;
        text-decoration: none;
        color: white;
        background-color: var(--brand-color);
        padding: 10px 42px;
        border-radius: 35px;
        font-size: 9px;
    }

    #contactButton{
        position: absolute;
        top: 594px;
        left: 47%;
    }
}

/*-------------------- header section --------------------*/

#skillSection{
    padding: 30px 0;
}

.subTitle{
    font-size: 45px;
}

.skillList{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    margin-top: 50px;
}

.skillList>div{
    /*border: 2px solid var(--brand-color);*/
    background-color: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-right: 10px;
}

.skillIcon{
    /* color: #ffffff; */
    font-size: 50px;
    margin-bottom: 30px;
}

.skillSub{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;

}


.moreBtn{
    text-decoration: none;
    color: white;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;

}

.skillList>div:hover{
    background: var(--brand-color);
    transform: translateY(-10px);
}

